.header{
    display:flex;
    justify-content: center;
}
.task-input{
    display:flex;
    flex-direction:column;
    margin-bottom: 2%;
}

.taskInput{
    background: #f49cbb;
}

.form-button{
    display: flex;
    justify-content: center;
}

::placeholder{
    text-align: center;
}

input{
    text-align: center;
}