body {
    /*background-color: #F4C2C2;*/
    background-color: rgb(250, 211, 230);
}

#task-table {
    
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 2rem;
    grid-gap: 10px 0px;
    
}

.cell {
    color: white;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    height: 10px;
}

.heading {
    height: 30px;
}

#cell-1, #cell-3, #cell-5, #cell-7, #cell-9 {
    background: #f49cbb;
}

#cell-2, #cell-4, #cell-6, #cell-8, #cell-10 {
    background: #dd2d4a;
}

.heading {
    background:#ef7a85;
}

